{% include "../layout/top.html" %}

<h2>게시판 리스트 입니다</h2>
<table>
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>날짜</td>
        <td>조회수</td>
    </tr>
    {% 
        for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
            if(i > length){
                i++;
            }else{
                var data = rows[i]
        
        for item in list %}
    <tr>
        <td>{{item.number}}</td>
        <td><a href="/board/view?idx={{item.idx}}">{{item.subject}}</a></td>
        <td>{{item.board_name}}</td>
        <td>{{item.today}}</td>
        <td>{{item.hit}}</td>
    </tr>
    {% endfor %}
</table>
<a href="./write" class="write_btn">글쓰기</a>

{% include "../layout/bottom.html" %}